.customControlOptions {
    padding: 5px;
    cursor: pointer;
}

.customControlOptions.selectedOption {
    background-color: #0a6f9a;
    color: #FFF;
}

.customControlOptions:hover {
    background-color: #0096D6;
    color: #FFF;
}

.customControlOptions.hd, .Hidden {
    display: none;
}